.il-item-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.il-item-label {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.il-item-actions {
  display: flex;
  flex: 0 0 0;
  width: 0;
  overflow: hidden;
  min-width: 0;
  transition: opacity 0.2s ease;
}

.il-item:hover .il-item-actions {
  opacity: 1;
  flex-basis: auto;
  width: auto;
}

